*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat Alternates;
}

.page {
  background-image: url(/img/background.png);
  width: 100%;
  height: 852px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page_armenia {
  background-image: url(/img/armenia_bg.png);
}
.page_georgia {
  background-image: url(/img/georgia_bg.png);
}

a {
  text-decoration: none;
}

.link-dark {
  color: rgb(0, 0, 0);
}

.link-white {
  color: #ffffff;
}

.main {
  width: 100%;
  height: 852px;
  color: rgb(255, 255, 255);
}
.main_text {
  text-align: center;
  margin-top: 24%;
}
.main_text_name {
  font-size: 75px;
}
.main_text_tagline {
  color: rgb(144, 157, 157);
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  width: 1170px;
}

.navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar_item {
  display: inline;
  margin: 0 12px;
}

li {
  display: inline;
}

.section_2 {
  height: 300px;
}

.header {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}

.description {
  background: #D9D9D9;
  height: 250px;
  width: 100%;
  color: black;
  border-radius: 1rem;
  margin-top: 20px;
}
.description_text {
  font-size: larger;
  padding-left: 20px;
  padding-top: 3px;
}

.plane {
  display: block;
  rotate: 45deg;
  width: 52px;
  margin: 200px auto 0;
  position: relative;
  top: 0;
  offset-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
  -webkit-animation: airplane-fly 8s linear infinite;
          animation: airplane-fly 8s linear infinite;
}

@-webkit-keyframes airplane-fly {
  100% {
    offset-distance: 100%;
  }
}

@keyframes airplane-fly {
  100% {
    offset-distance: 100%;
  }
}
.country {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.country_item {
  margin: 0 0 30px;
  position: relative;
}
.country_img {
  width: 300px;
  height: 450px;
}
.country_title {
  position: absolute;
  bottom: 0;
  right: 14px;
  color: #ffffff;
  font-size: 30px;
}
.country_img:hover {
  filter: blur(3px) grayscale(70%);
}

.footer {
  background: #D9D9D9;
  height: 70px;
  padding: 10px 0;
}
.footer_background {
  display: flex;
  justify-content: space-between;
}
.footer_img {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}
.footer_menu_item {
  margin-right: 20px;
}

.side_section {
  background-color: #D9D9D9;
  width: 100%;
  height: 2800px;
  border-radius: 1rem;
}

.side_name {
  padding-top: 390px;
  padding-bottom: 6px;
  padding-left: 55px;
  color: white;
  font-size: 128px;
}

.important {
  padding-top: 28px;
}
.important_text {
  font-size: 48px;
  text-align: right;
  margin-right: 116px;
}
.important_content {
  display: flex;
  justify-content: space-between;
}
.important_content_item {
  margin-top: 50px;
  margin-left: 35px;
  margin-right: 35px;
  background-color: #E0E0E0;
  width: 320px;
  height: 320px;
  border-radius: 50%;
}

.advantages {
  display: block;
  padding: 110px 0 0 120px;
}
.advantages_name {
  position: relative;
  left: 560px;
  top: 18px;
  background-color: #A38F8F;
  height: 60px;
  width: 370px;
  font-size: 30px;
  text-align: center;
  border-radius: 1rem;
  color: white;
  padding-top: 10px;
}
.advantages_text {
  background-color: #E0E0E0;
  width: 700px;
  height: 215px;
  padding: 15px 20px 15px 20px;
  border-radius: 1rem;
  font-size: 16px;
}

.disadvantages {
  display: block;
  padding: 130px 0 0 90px;
}
.disadvantages_name {
  position: relative;
  left: 30px;
  top: 18px;
  background-color: #A38F8F;
  height: 60px;
  width: 370px;
  font-size: 30px;
  text-align: center;
  border-radius: 1rem;
  color: white;
  padding-top: 10px;
}
.disadvantages_text {
  background-color: #E0E0E0;
  width: 700px;
  height: 215px;
  padding: 15px 20px 15px 20px;
  border-radius: 1rem;
  font-size: 16px;
  margin-left: 240px;
}

.info {
  margin-top: 130px;
}
.info_name {
  text-align: center;
  font-size: 36px;
}
.info_text {
  background-color: #E0E0E0;
  width: 900px;
  height: 500px;
  border-radius: 1rem;
  margin: 0 auto;
}

.links {
  padding-top: 100px;
  text-align: center;
  font-size: 48px;
}
.links_item {
  background-color: grey;
  width: 100%;
  height: 120px;
  border-radius: 1rem;
}

/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */