*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    background-image: url(/img/background.png);
    width: 100%;
    height: 852px;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 852px;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
}

.wrapper {
    margin: 0 auto;
    width: 1170px;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline;
    margin: 0 12px;
}

.main_text {
    text-align: center;
    margin-top: 24%;
}

.name {
    font-size: 75px;
}

.tagline {
    color: rgb(144, 157, 157);
    margin: 0 auto;
}

li {
    display: inline;
}

.country-selection {
    list-style-type: none;
    display: inline;
}

.header {
    display: flex;
    padding-top: 40px;
    Justify-content: space-between;
}

.description {
    color: black;
}

.country {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.country_item {
    margin: 0 0 30px;
}

.country_img {
    width: 300px;
    height: 450px;
}


/* .country_georgia {
    background-image: url(./img/georgia.png);
    width: 370px;
    height: 538px;
}

.country_kazakhstan {
    background-image: url(./img/kazakhstan.png);
    width: 370px;
    height: 538px;
}

.country_romania {
    background-image: url(./img/romania.png);
    width: 370px;
    height: 538px;
}

.country_turkey {
    background-image: url(./img/turkey.png);
    width: 370px;
    height: 538px;
}

.country_armenia {
    background-image: url(./img/armenia.png);
    width: 370px;
    height: 538px;
}

.country_china {
    background-image: url(./img/china.png);
    width: 370px;
    height: 538px;
} */