.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

li { display: inline; }

.main {
    display: flex;
}

.country-selection {
    list-style-type: none;
}

.country_georgia {
    background-image: url(./img/georgia.png);
    width: 370px;
    height: 538px;
}

.country_kazakhstan {
    background-image: url(./img/kazakhstan.png);
    width: 370px;
    height: 538px;
}

.country_romania {
    background-image: url(./img/romania.png);
    width: 370px;
    height: 538px;
}

.country_turkey {
    background-image: url(./img/turkey.png);
    width: 370px;
    height: 538px;
}

.country_armenia {
    background-image: url(./img/armenia.png);
    width: 370px;
    height: 538px;
}

.country_china {
    background-image: url(./img/china.png);
    width: 370px;
    height: 538px;
}