*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-image: url(./img/background.png);
    width: 100%;
    height: 852px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 100%;
    height: 852px;
    color:rgba(255, 255, 255, 1);
    font-family: Montserrat Alternates;
}

.wrapper {
    position: absolute;
    width: 1170px;
    left: 50%;
    margin-left: -585px;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

li { 
    display: inline;
    margin: 0 12px;
}

.main_text{
    text-align: center;
    margin-top: 24%; 
}

.name {
    font-size: 75px;
}

.tagline {
    color:rgb(144, 157, 157);
}

.country-selection {
    list-style-type: none;
    display: inline;
}

.header{
    display: flex;
    margin-top: 40px;   
    Justify-content: space-between ;
}

.description {
    color: black;
}


.country_georgia {
    background-image: url(./img/georgia.png);
    width: 370px;
    height: 538px;
    
}

.country_kazakhstan {
    background-image: url(./img/kazakhstan.png);
    width: 370px;
    height: 538px;
   
}

.country_romania {
    background-image: url(./img/romania.png);
    width: 370px;
    height: 538px;
    
}

.country_turkey {
    background-image: url(./img/turkey.png);
    width: 370px;
    height: 538px;
    float: left;
}

.country_armenia {
    background-image: url(./img/armenia.png);
    width: 370px;
    height: 538px;
    
}

.country_china {
    background-image: url(./img/china.png);
    width: 370px;
    height: 538px;
    
}

.first-col, .second-col {
    overflow: hidden;
    display: flex;
}