$gray: #D9D9D9;
$light-gray: #E0E0E0;
$cream: #A38F8F;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Montserrat Alternates;
}

.page {
    background-image: url(/img/background.png);
    width: 100%;
    height: 852px;
    background-repeat: no-repeat;
    background-size: cover;
    &_armenia {
        background-image: url(/img/armenia_bg.png);
    }
    &_georgia {
        background-image: url(/img/georgia_bg.png);
    }
}

a {
    text-decoration: none;
}

.link-dark {
    color: rgb(0, 0, 0);
}

.link-white {
    color: #ffffff;
}

.main {
    width: 100%;
    height: 852px;
    color: rgba(255, 255, 255, 1);
    &_text {
        text-align: center;
        margin-top: 24%;
        &_name {
            font-size: 75px;
        }
        &_tagline {
            color: rgb(144, 157, 157);
            margin: 0 auto;
        }
    }
}

.wrapper {
    margin: 0 auto;
    width: 1170px;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &_item {
        display: inline;
        margin: 0 12px;
    }
}

li {
    display: inline;
}

.section_2 {
    height: 300px;
}

.header {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.description {
    background: #D9D9D9;
    height: 250px;
    width: 100%;
    color: black;
    border-radius: 1rem;
    margin-top: 20px;
    &_text {
        font-size: larger;
        padding-left: 20px;
        padding-top: 3px;
    }
}

.plane {
    display: block;
    rotate: 45deg;
    width: 52px;
    margin: 300px auto 0;
    position: relative;
    top: 0;
    animation: airplane-fly 8s infinite linear;
}

@keyframes airplane-fly {
    0% {
        left: 0;
        top: 0;
    }
    20% {
        left: 10%;
        top: -15%;
        transform: rotate(-120deg);
        animation-duration: 3s;
    }
    40% {
        top: -10px;
        left: 15px;
    }
    60% {}
    80% {}
    100% {
        // top: 40%;
    }
}

.country {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &_item {
        margin: 0 0 30px;
        position: relative;
    }
    &_img {
        width: 300px;
        height: 450px;
    }
    &_title {
        position: absolute;
        bottom: 0;
        right: 14px;
        color: #ffffff;
        font-size: 30px;
    }
    &_img:hover {
        filter: blur(3px) grayscale(70%);
    }
}

.footer {
    background: #D9D9D9;
    height: 70px;
    padding: 10px 0;
    &_background {
        display: flex;
        justify-content: space-between;
    }
    &_img {
        width: 25px;
        height: 25px;
        margin-left: 20px;
    }
    &_menu {
        &_item {
            margin-right: 20px;
        }
    }
}

.side_section {
    background-color: #D9D9D9;
    width: 100%;
    height: 2800px;
    border-radius: 1rem;
}

.side_name {
    padding-top: 390px;
    padding-bottom: 6px;
    padding-left: 55px;
    color: white;
    font-size: 128px;
}

.important {
    padding-top: 28px;
    &_text {
        font-size: 48px;
        text-align: right;
        margin-right: 116px;
    }
    &_content{
        display: flex;
        justify-content: space-between;
        &_item{
            margin-top: 50px;
            margin-left: 35px;
            margin-right: 35px;
            background-color: $light-gray;
            width: 320px;
            height: 320px;
            border-radius: 50%;
        }
    }
}

.advantages{
    display: block;
    padding: 110px 0 0 120px;
    &_name {
        margin-left: 520px;
        background-color: $cream;
        height: 60px;
        width: 370px;
        font-size: 30px;
        text-align: center;
        border-radius: 1rem;
        color: white;
        padding-top: 10px;
    }
    &_text {
        background-color: $light-gray;
        width: 700px;
        height: 215px;
        padding: 15px 20px 15px 20px;
        border-radius: 1rem;
        font-size: 16px;

    }
}

.disadvantages{
    display: block;
    padding: 130px 0 0 90px;
    &_name {
        background-color: $cream;
        height: 60px;
        width: 370px;
        font-size: 30px;
        text-align: center;
        border-radius: 1rem;
        color: white;
        padding-top: 10px;
        margin-left: 45px;
    }
    &_text {
        background-color: $light-gray;
        width: 700px;
        height: 215px;
        padding: 15px 20px 15px 20px;
        border-radius: 1rem;
        font-size: 16px;
        margin-left: 240px;
    }
}

.info {
    margin-top: 130px;
    &_name {
        text-align: center;
        font-size: 36px;
    }
    &_text {
        background-color: $light-gray;
        width: 900px;
        height: 500px;
        border-radius: 1rem;
        margin: 0 auto;
    }
}

.links {
    padding-top: 100px;
    text-align: center;
    font-size: 48px;
    &_item {
        background-color: grey;
        width: 100%;
        height: 120px;
        border-radius: 1rem;
    }
}

/*# sourceMappingURL=style.css.map */